@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Thay đổi toàn bộ thanh cuộn */
::-webkit-scrollbar {
  width: 8px;
}

/* Thay đổi phần cuộn */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Thay đổi phần track của thanh cuộn */
::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 6px;
}

/* Thay đổi phần khi hover lên phần cuộn */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: 'SVN Desire';
  src: url('/fonts/SVN-Desire') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM Alberta Heavy';
  src: url('/fonts/UTM-Alberta-Heavy') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM Swiss Condensed';
  src: url('/fonts/UTM-Swiss-Condensed') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.title {
  background: linear-gradient(180deg, #f97b00, #500000);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  border-bottom: 1px solid #46544f;
  font-family: 'UTM Alberta Heavy';
}

.title:before {
  content: "";
  display: inline-block;
  background-image: url('/images/event-loidai/rule-sprites.png');
  background-position: 0 -30px;
  width: 208px;
  height: 28px;
  margin-right: 12px;
  margin-left: auto;
}

.title::after {
  content: "";
  display: inline-block;
  background-image: url('/images/event-loidai/rule-sprites.png');
  background-position: 0 0;
  width: 208px;
  height: 28px;
  margin-left: 12px;
  margin-right: auto;
}

.custom-line {
  height: 1px;
  background: linear-gradient(to right, transparent, #8B4513, transparent);
  filter: drop-shadow(0 0 1px #94644C);
}

.line {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, #e3ac75, transparent);
  filter: drop-shadow(0 0 1px #815436);
}

/* HomePage - Section 4 - Swipper */
.swiper-button-disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.pagination {
  z-index: 100;
  position: absolute;
  width: 25% !important;
  left: 47% !important;
  bottom: 13% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .pagination {
    left: 37% !important;
    bottom: 9% !important;
  }
}

.swiper-pagination-bullet {
  z-index: 100;
  background-color: transparent !important;
  background-image: url("/images/swiper-dot.png") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 1.5vw !important;
  height: 1.5vw !important;
  border-radius: 0%;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 2.5vw !important;
    height: 2.5vw !important;
  }
  
}

.swiper-pagination-bullet-active {
  z-index: 100;
  background-color: transparent !important;
  background-image: url("/images/swiper-active-dot.png") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 1.5vw !important;
  height: 1.5vw !important;
  border-radius: 0%;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .swiper-pagination-bullet-active {
    width: 2.5vw !important;
    height: 2.5vw !important;
  }
  
}

.custom-gradient-bg {
  background: rgb(153,106,65);
background: linear-gradient(90deg, rgba(153,106,65,1) 0%, rgba(115,71,45,1) 25%, rgba(103,60,39,1) 50%, rgba(115,71,45,1) 75%, rgba(153,106,65,1) 100%);
}